
*.xml
*.pyc
*.ipynb
figures/*
doc/*.rst
doc/*.py
doc/Makefile
doc/_static
doc/_templates
.DS_Store
setup_control/setup_control/__init__.pyc
setup_control/setup_control/daq.pyc
setup_control/setup_control/experiment_wrapper.pyc
setup_control/setup_control/instruments.pyc