
*.xml
*.pyc
*.ipynb
figures/*
.DS_Store
setup_control/setup_control/__init__.pyc
setup_control/setup_control/daq.pyc
setup_control/setup_control/experiment_wrapper.pyc
setup_control/setup_control/instruments.pyc